@charset "utf-8";
/* CSS Document */
#banner{
	margin-top:50px;
	position:relative;
}

#banner img{
	width:100%;
	height:100%;
	}
	
#banner .contenedor{/*para que el texto este por encima de la imagen*/
	position:absolute;
	top:70%;
	left:20%;
	transform:translateX(-50%) translateY(-50);
	color:#FFF;
	}

#banner h2{
	font-size:28px;
}

#banner a{
	display:block;
	width:100px;
	color:#FFF;
	text-decoration:none;
	padding:5px;
	margin-top:10px;
	border:3px solid #FFF;
}

#banner a:hover{
	background:rgba(0,0,102,0.5);
	
}